<div class="well well-sm">
<h4>Editing Author</h4>
</div>
<%= render 'form' %>
<div class="btn btn-primary">
<%= link_to 'Show', @author %>
</div>
<div class="btn btn-primary"> |
<%= link_to 'Back', authors_path %>
</div>