<div class="well well-sm">
	<h4>Editing Book</h4>
</div>
<%= render 'form' %>
<div class="btn btn-info">
<%= link_to 'Show', @book %> 
</div>
<div class="btn">|
<%= link_to 'Back', books_path %>
</div>