<div class="well well-sm">
  <h4>Issue Book</h4>
</div>
<%= render 'form' %>
<div class="btn btn-info">
  <%= link_to 'Show', @borrow %>
</div> |
<div class="btn">
  <%= link_to 'Back', borrows_path %>
</div>